*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  padding: 100px;
}